<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchPage"
            android:label="@string/title_activity_search_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentPage"
            android:label="@string/title_activity_payment_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchPage2"
            android:label="@string/title_activity_search_page2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Public_PaymentPage"
            android:label="@string/title_activity_payment_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsPage"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingPage"
            android:label="@string/title_activity_booking_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatPage"
            android:label="@string/title_activity_chat_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookingPage2"
            android:label="@string/title_activity_booking_page2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ViewSeats_P"
            android:label="@string/title_activity_view_seats__p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewSeats_S"
            android:label="@string/title_activity_view_seats__s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatList"
            android:label="@string/title_activity_chat_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>